---
		import Navbar from '../components/Navbar.astro'
			import '../styles/global.css'
		const pageTitle = 'About Page'

		const user = {
			firstName : "Kevin",
			country: "Canada",
			occupation: "Developer",
			hobbies: ["Working", "Sleeping", "Eating"],
		}

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = 'navy'
const fontFamily = "consolas"
const textColor = "#232323"
const backgroundColor = "#ddd"
const happy = true;
const finished = false;
const goal = 3;
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontFamily, textColor, backgroundColor}}>
		*{
			font-family: var(--fontFamily);
			color: var(--textColor);
			background-color: var(--backgroundColor);
		}

		h1{
			color: #008800;
			font-family: monospace;
			font-weight: 600;
		}

		.skill{
			color: var(--skillColor);
			font-weight: 'bold';
		}

		</style>
	</head>
	<body>
 <Navbar/>

 <div>
		<h1>{pageTitle}</h1>
		<h2>about.html</h2>
		<p>user: {user.firstName}</p>
		<p>country: {user.country}</p>
		<p>occupation: {user.occupation}</p>
</div>


<div>
	{happy && <p>I am happy.</p>}
	{finished && <p>I am finished.</p>}
	{goal === 3 
		? <p>Yay.</p>
 		: <p>Boo.</p>
	}
</div>


<div>
		<p>Hobbies</p> 
		<ul>
			{user.hobbies.map((hobby) => 
				<li class='hobby'>{hobby}</li>
			)}
		</ul>
</div>


<div>
		<p>Skills</p> 
		<ul>
			{skills.map((skill) => 
				<li class="skill">{skill}</li>
				)}
		</ul>
</div>



	</body>
</html>
